<% include ../views/partials/header.ejs %>


<section  class="action roomy-50">
</section>


<div class='row'>
      <div class="head_title text-center roomy-50">
            <h2 class="text-uppercase">About Us</h2>
      </div>
</div>

            <hr>

<div class='row'>
      <div class="head_title text-center">
            <h3 class="text-uppercase">Our Mission</h3>
      </div>
</div>

<div class='row text-center roomy-40'>
      
      <p>
         Traffic Int is creating a safer planet with facial recognition technology. <br> We empower organizations to detect and deter real-time threats, <br> transform team performance and strengthen customer relationships.
      </p>
</div>


<hr>

<div class='row'>
      <div class="head_title text-center">
            <h3 class="text-uppercase">Meet our Team</h3>
      </div>
</div>

<div class="row text-center roomy-40">
         <div class="item_img">
            <img class="img-circle" src="assets/images/gideon.jpg" alt="" />
         </div>
         <div class="item_text">
            <h5>Gideon Tahan</h5>
            <h6>CEO</h6>

            <p >Gideon has a wide trajectory in the high tech security business, <br>for over 25 years working only with  transportation gets in his new adventure completing his <br> products with a state of the art face recognition system.</p>
         </div>
</div>

<div class="row text-center roomy-40">
      <div class="item_img">
         <img class="img-circle" src="assets/images/moi.jpeg" alt="" />
      </div>
      <div class="item_text">
         <h5>Moises Benzadon</h5>
         <h6>COO(VP of Sales)</h6>

         <p >After working for Tommy Hilfiger latin America for over 14 years,<br> join us with his vast experience to take our company to the future <br>bringing his experience and reputation to the Sales and  Marketing department.</p>
      </div>
</div>

<div class="row text-center roomy-40">
      <div class="item_img">
         <img class="img-circle" src="assets/images/micheal.jpeg" alt="" />
      </div>
      <div class="item_text">
         <h5>Michael Tahan</h5>
         <h6>CTO</h6>

         <p >Responsible for projects from a development stage, building <br>technology solutions architectures for customers, gather requirements. <br> Understanding customer need, examining solutions and professional recommendations.<br>  Also responsible formanaging and monitoring the companies technical staff.</p>
      </div>
</div>























<div class="container roomy-60">
   
      <div class="row">   
         <div class="col-md-12 col-sm-12 col-xs-12 ">
               <div class="about_us text-center fix ">
                     <h2 class="text-uppercase">About Us</h2>

                     <hr>
                     <div class='container roomy-40'>
                        <h3 class="text-uppercase"><strong>Our Mission</strong></h3>
                        <p>
                           Traffic-Int is creating a safer planet with facial recognition technology. <br> We empower organizations to detect and deter real-time threats, <br> transform team performance and strengthen customer relationships.
                        </p>
                     </div>
               </div>
         </div>                    
         <div class='container mt-3 mb-3'>
            <h1></h1>
         </div> 
         <div class="main_test fix">
            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="about_us text-center fix">
                     <!-- <h2 class="text-uppercase">About Us</h2> -->
                     <hr>
                     <h3 class="text-uppercase"><strong>Meet our team</strong></h3>
                  </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="test_item fix">
                     <div class="item_img">
                        <img class="img-circle" src="assets/images/gideon.jpg" alt="" />
                     </div>
                     <div class="item_text">
                        <h5>Gideon Tahan</h5>
                        <h6>CEO</h6>

                        <p>Gideon has a wide trajectory in the high tech security business, for over 25 years working only with  transportation gets in his new adventure completing his products with a state of the art face recognition system.</p>
                     </div>
                  </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="test_item fix sm-m-top-30">
                     <div class="item_img">
                        <img class="img-circle" src="assets/images/moi.jpeg" alt="" />
                     </div>

                     <div class="item_text">
                        <h5>Moises Benzadon</h5>
                        <h6>COO(VP of Sales)</h6>

                        <p>After working for Tommy Hilfiger latin America for over 14 years,, join us with his vast experience to take our company to the future bringing his experience and reputation to the Sales and  Marketing department.</p>
                     </div>
                  </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="test_item fix sm-m-top-30">
                        <div class="item_img">
                           <img class="img-circle" src="assets/images/micheal.jpeg" alt="" />
                        </div>

                        <div class="item_text">
                           <h5>Michael Tahan</h5>
                           <h6>CTO</h6>

                           <p>Responsible for projects from a development stage, building technology solutions architectures for customers, gather requirements.  Understanding customer need, examining solitions and professional recommendations. Also responsible for managing and monitoring the companies technical staff.</p>
                        </div>
                  </div>
               </div>
         </div>
      </div>
</div>





<% include ../views/partials/footer.ejs %>
