<% include ../views/partials/header.ejs %>

   <!--Home Sections-->

   <section id="home" class="casino bg-black fix">
         <div class="overlay"></div>
         <div class="container">
             <div class="row">
                 <div class="main_home text-center">
                     <div class="col-md-12">
                         <div class="hello_slid">
                             <div class="slid_item">
                                 <div class="home_text ">
                                     <h2 class="text-white"><strong>TRAFFIC-INT</strong></h2>
                                     <h1 class="text-white">Retail Facial Recognition Technology</h1>
                                     <h3 class="text-white"> Helps your casino security and profitability  </h3>
                                 </div>
                                 <div class="home_btns m-top-40">
                                     <a href="" class="btn btn-primary m-top-20">Learn more</a>
                                     <a href="" class="btn btn-default m-top-20">About us</a>
                                 </div>
                             </div><!-- End off slid item -->
                         </div>
                     </div>

                 </div>


             </div><!--End off row-->
         </div><!--End off container -->
     </section> <!--End off Home Sections-->


<!--Featured Section-->
           <section id="features" class="features">
               <div class="container">
                   <div class="row">
                       <div class="main_features fix roomy-70">
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-thumbs-o-up"></i>
                                   </div>
                                   <div class="f_item_text">
                                       <h3>Detection</h3>
                                       <p>Detect unwanted as soon as they arrive</p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-tablet"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>Accuracy</h3>
                                           <p>Make security personal aware of were threats are so they can move in quickly</p>
                                       
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-sliders"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>Profits</h3>
                                           <p>Increase your profites by eliminating scammers before they are able to act</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div><!-- End off row -->
               </div><!-- End off container -->
           </section><!-- End off Featured Section--></p>


<!--Business Section-->
<section id="business" class="business bg-grey roomy-70">
      <div class="container">
          <div class="row">
              <div class="main_business">
                  <div class="col-md-6">
                      <div class="business_slid">
                          <div class="slid_shap bg-grey"></div>
                          <div class="business_items text-center">
                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/casino-slider-1.jpg" alt="" />
                                  </div>
                              </div>

                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/casino-slider-2.jpg" alt="" />
                                  </div>
                              </div>

                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/casino-slider-3.jpg" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="business_item sm-m-top-50">
                          <h2>
                              <strong>TRAFFIC-INT</strong> brings value to your retail operations</h2>
                          <ul>
                              <li><i class="fa fa-arrow-circle-right"></i> Detects Scammers</li>
                              <li><i class="fa  fa-arrow-circle-right"></i> Analyzes security threats in crowds</li>
                              <li><i class="fa  fa-arrow-circle-right"></i> VIP recognition</li>
                          </ul>
                          <p class="m-top-20">Avoid scammers and increase your profits</p>

                          <div class="business_btn">
                              <a href="" class="btn btn-default m-top-20">Learn more</a>
                              <a href="" class="btn btn-primary m-top-20">About us</a>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- End off Business section -->

  <!--Extra section-->
  <section id="action" class="action bg-primary roomy-40">
   <div class="container">
       <div class="row">
           <div class="maine_action">
               <div class="col-md-8">
                   <div class="action_item text-center">
                       <h3 class="text-white">Help your bottom line, don't just deal with scams stop them from happening and but the cards back in your hands.  Find your VIPs and make sure of their needs from the start.</h3>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="action_btn text-left sm-text-center">
                      <img src="/assets/images/casino-extra.jpg">
                       <!-- <a href="" class="btn btn-default">Get in Touch</a> -->
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>


           <!--Test section-->
           <section id="test" class="test bg-grey roomy-60 fix">
               <div class="container">
                   <div class="row">                        
                       <div class="main_test fix">

                           <div class="col-md-12 col-sm-12 col-xs-12">
                               <div class="head_title text-center fix">
                                   <h2 class="text-uppercase">What Client Say</h2>
                                   <h5>Our clients testimony speaks for itself</h5>
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="test_item fix">
                                   <div class="item_img">
                                       <img class="img-circle" src="assets/images/test-casino-1.jpg" alt="" />
                                       <i class="fa fa-quote-left"></i>
                                   </div>

                                   <div class="item_text">
                                       <h5>Enriko Palacio</h5>
                                       <h6>Sands Casino</h6>

                                       <p>With Trafffic-Int we have been able to detect those we don't want in our casino before they are able to do any harm.</p>
                                   </div>
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="test_item fix sm-m-top-30">
                                   <div class="item_img">
                                       <img class="img-circle" src="assets/images/test-casino-2.jpg" alt="" />
                                       <i class="fa fa-quote-left"></i>
                                   </div>

                                   <div class="item_text">
                                       <h5>Kimsun Takeda</h5>
                                       <h6>SeeWan Resort</h6>

                                       <p>We verry happy Traffic-Int face recognition software, we stop many scam.</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section><!-- End off test section -->


                      <!--Call to  action section-->
                      <section id="action" class="action bg-primary roomy-40">
                           <div class="container">
                               <div class="row">
                                   <div class="maine_action">
                                       <div class="col-md-8">
                                           <div class="action_item text-center">
                                               <p class="text-white">Help your bottom line, don't just deal with scams stop them from happening and but the cards back in your hands.  Find your VIPs and make sure of their needs from the start.</p>
                                           </div>
                                       </div>
                                       <div class="col-md-4">
                                           <div class="action_btn text-left sm-text-center">
                                               <a href="" class="btn btn-default">Get in Touch</a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </section>
                                        


<% include ../views/partials/footer.ejs %>