<% include ../views/partials/header.ejs %>



   <!--Home Sections-->

          <section id="home" class="home bg-black fix">
               <div class="overlay"></div>
               <div class="container">
                   <div class="row">
                       <div class="main_home text-center">
                           <div class="col-md-12">
                               <div class="hello_slid">
                                   <div class="slid_item">
                                       <div class="home_text ">
                                           <h2 class="text-white">Welcome to <strong>TRAFFIC-INT</strong></h2>
                                           <h1 class="text-white">FACIAL RECOGNITION TECHNOLOGY</h1>
                                           <h3 class="text-white"> for your business's security and personalization needs. </h3>
                                       </div>
                                       <div class="home_btns m-top-40">
                                           <a href="" class="btn btn-primary m-top-20">Learn more</a>
                                           <a href="" class="btn btn-default m-top-20">About us</a>
                                       </div>
                                   </div><!-- End off slid item -->
                                   <div class="slid_item">
                                       <div class="home_text ">
                                               <h2 class="text-white">Welcome to <strong>TRAFFIC-INT</strong></h2>
                                               <h1 class="text-white">FACIAL RECOGNITION TECHNOLOGY</h1>
                                               <h3 class="text-white"> for your business's security and personalization needs. </h3>
                                       </div>
                                       <div class="home_btns m-top-40">
                                           <a href="" class="btn btn-primary m-top-20">Learn more</a>
                                           <a href="" class="btn btn-default m-top-20">About us</a>
                                       </div>
                                   </div><!-- End off slid item -->
                                   <div class="slid_item">
                                       <div class="home_text ">
                                               <h2 class="text-white">Welcome to <strong>TRAFFIC-INT</strong></h2>
                                               <h1 class="text-white">FACIAL RECOGNITION TECHNOLOGY</h1>
                                               <h3 class="text-white"> for your business's security and personalization needs. </h3>
                                       </div>

                                       <div class="home_btns m-top-40">
                                           <a href="" class="btn btn-primary m-top-20">Learn more</a>
                                           <a href="" class="btn btn-default m-top-20">About us</a>
                                       </div>
                                   </div><!-- End off slid item -->
                               </div>
                           </div>

                       </div>


                   </div><!--End off row-->
               </div><!--End off container -->
           </section> <!--End off Home Sections-->



           <!--Featured Section-->
           <section id="features" class="features">
               <div class="container">
                   <div class="row">
                       <div class="main_features fix roomy-70">
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-thumbs-o-up"></i>
                                   </div>
                                   <div class="f_item_text">
                                       <h3>Safer Communities</h3>
                                       <p>Proactively detect and deter threats</p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-tablet"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>Actionable Intelligence</h3>
                                           <p>Priceless insight into past, present and future events</p>
                                       
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-sliders"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>Smarter Teams</h3>
                                           <p>Automated alerting for efficient security</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div><!-- End off row -->
               </div><!-- End off container -->
           </section><!-- End off Featured Section-->


           <!--Business Section-->
           <section id="business" class="business bg-grey roomy-70">
               <div class="container">
                   <div class="row">
                       <div class="main_business">
                           <div class="col-md-6">
                               <div class="business_slid">
                                   <div class="slid_shap bg-grey"></div>
                                   <div class="business_items text-center">
                                       <div class="business_item">
                                           <div class="business_img">
                                               <img src="assets/images/retail.jpg" alt="" />
                                           </div>
                                       </div>

                                       <div class="business_item">
                                           <div class="business_img">
                                               <img src="assets/images/finance.jpg" alt="" />
                                           </div>
                                       </div>

                                       <div class="business_item">
                                           <div class="business_img">
                                               <img src="assets/images/security.jpg" alt="" />
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           
                           <div class="col-md-6">
                               <div class="business_item sm-m-top-50">
                                   <h2 class="text-uppercase">
                                       <strong>Traffic-Int</strong> helps all sectors</h2>
                                   <ul>
                                       <li><i class="fa fa-arrow-circle-right"></i> Retail</li>
                                       <li><i class="fa  fa-arrow-circle-right"></i> Financial Services</li>
                                       <li><i class="fa  fa-arrow-circle-right"></i> Security</li>
                                   </ul>
                                   <p class="m-top-20">We work and provide value in all sectors through our facial recognition technology.</p>

                                   <div class="business_btn">
                                       <a href="" class="btn btn-default m-top-20">Learn more</a>
                                       <a href="" class="btn btn-primary m-top-20">About us</a>
                                   </div>

                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section><!-- End off Business section -->


           <!--product section-->
           <section id="product" class="product">
               <div class="container">
                   <div class="main_product roomy-80">
                       <div class="head_title text-center fix">
                           <h2 class="text-uppercase">Traffic-Int solutions are: </h2>
                           
                       </div>

                       <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                           <!-- Indicators -->
                           <ol class="carousel-indicators">
                               <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                               <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                           </ol>

                           <!-- Wrapper for slides -->
                           <div class="carousel-inner" role="listbox">
                               <div class="item active">
                                   <div class="container">
                                       <div class="row">
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-mobile.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-mobile.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Mobile</h5>
                                                       <h6>- real time alerting and intelligence on demand

                                                           </h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-efficient.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-efficient.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Efficient</h5>
                                                       <h6>- Will keep your tech running smooth</h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-scale.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-scale.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Scalable</h5>
                                                       <h6>- enterprise capability across unlimited locations</h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-accurate.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-accurate.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Accurate</h5>
                                                       <h6>- the industry’s most accurate face detection</h6>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="item">
                                   <div class="container">
                                       <div class="row">
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-private.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-private.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Private</h5>
                                                       <h6>- designed to protect personal privacy</h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-quality.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-quality.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>High-Quality</h5>
                                                       <h6>- Only the best and most reliable technology</h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-support.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-support.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Offer full Support</h5>
                                                       <h6>- Always here to help 24/7</h6>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-sm-3">
                                               <div class="port_item xs-m-top-30">
                                                   <div class="port_img">
                                                       <img src="assets/images/solutions-custom.png" alt="" />
                                                       <div class="port_overlay text-center">
                                                           <a href="assets/images/solutions-custom.png" class="popup-img">+</a>
                                                       </div>
                                                   </div>
                                                   <div class="port_caption m-top-20">
                                                       <h5>Customizable</h5>
                                                       <h6>- We can fit all your needs.</h6>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           
                                           
                                   
                                       </div>
                                   </div>
                               </div>

                           </div>

                           <!-- Controls -->
                           <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                               <i class="fa fa-angle-left" aria-hidden="true"></i>
                               <span class="sr-only">Previous</span>
                           </a>

                           <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                               <i class="fa fa-angle-right" aria-hidden="true"></i>
                               <span class="sr-only">Next</span>
                           </a>
                       </div>
                   </div><!-- End off row -->
               </div><!-- End off container -->
           </section><!-- End off Product section -->








           <!--Call to  action section-->
           <section id="action" class="action bg-primary roomy-40">
               <div class="container">
                   <div class="row">
                       <div class="maine_action">
                           <div class="col-md-8">
                               <div class="action_item text-center">
                                   <p class="text-white">With the Traffic-Int face recognition platform, retailers, stadiums, transportation centers, law enforcement agencies and other organizations can detect and deter threats in real time, while also leveraging biometric data to personalize service and verify personal identity. Using artificial intelligence and machine learning, Traffic-Int is highly accurate and scalable, offering a full range of surveillance, mobile, access control and desktop forensic face detection capabilities. FaceFirst offers a robust SDK/API for integration into a variety of systems and platforms.</p>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="action_btn text-left sm-text-center">
                                   <a href="" class="btn btn-default">Get in Touch</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>


           <% include ../views/partials/footer.ejs %>
