<% include ../views/partials/header.ejs %>


<section  class="action roomy-40">

</section>


<section>
<div class='container roomy-70'>
   <div class='row'>
      <!-- <h1>P</h1> -->
   </div>
   <div class='row'>
      <div class='col-md-4'>
         <img src='/assets/images/products-TI401M.jpg'>
      </div>
      <div class='col-md-8 f_item_text'>
         <h3>TI-401M (mini)</h3>
         <p>H.264 VEHICLE Mini 720P AHD Dual SD card MOBILE DVR(4 Channel 720P 1MP)</p>
         <a href='TI-401M'>Tech Specs and Features...</a>
      </div>
   </div>

   <div class='row'>
         <div class='col-md-4'>
            <img src='/assets/images/products-TI402.jpg'>
         </div>
         <div class='col-md-8 f_item_text'>
            <h3>TI-402</h3>
            <p>8CH 1080P HDD & SD AHD Mobile DVR Series</p>
            <a href='TI-402'>Tech Specs and Features...</a>
         </div>
      </div>

   

</div>
</section>




<% include ../views/partials/footer.ejs %>