<% include ../views/partials/header.ejs %>

   <!--Home Sections-->

   <section id="home" class="retail bg-black fix">
         <div class="overlay"></div>
         <div class="container">
             <div class="row">
                 <div class="main_home text-center">
                     <div class="col-md-12">
                         <div class="hello_slid">
                             <div class="slid_item">
                                 <div class="home_text ">
                                     <h2 class="text-white"><strong>TRAFFIC-INT</strong></h2>
                                     <h1 class="text-white">Retail Facial Recognition Technology</h1>
                                     <h3 class="text-white"> Helps you stop shoplifting and detect known threats  </h3>
                                 </div>
                                 <div class="home_btns m-top-40">
                                     <a href="#contact" class="btn btn-primary m-top-20">Learn more</a>
                                     <a href="about" class="btn btn-default m-top-20">About us</a>
                                 </div>
                             </div><!-- End off slid item -->
                         </div>
                     </div>

                 </div>


             </div><!--End off row-->
         </div><!--End off container -->
     </section> <!--End off Home Sections-->


<!--Featured Section-->
           <section id="features" class="features">
               <div class="container">
                   <div class="row">
                       <div class="main_features fix roomy-70">
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-thumbs-o-up"></i>
                                   </div>
                                   <div class="f_item_text">
                                       <h3>Stop Theft</h3>
                                       <p>Detect and deter retail theft across thousands of retail locations.</p>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-tablet"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>ROI</h3>
                                           <p>Our powerful face recognition platform for retail pays for itself within months.</p>
                                       
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-4">
                               <div class="features_item sm-m-top-30">
                                   <div class="f_item_icon">
                                       <i class="fa fa-sliders"></i>
                                   </div>
                                   <div class="f_item_text">
                                           <h3>Robust</h3>
                                           <p>Easily identify and log individual faces within crowded spaces.</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div><!-- End off row -->
               </div><!-- End off container -->
           </section><!-- End off Featured Section--></p>


<!--Business Section-->
<section id="business" class="business bg-grey roomy-70">
      <div class="container">
          <div class="row">
              <div class="main_business">
                  <div class="col-md-6">
                      <div class="business_slid">
                          <div class="slid_shap bg-grey"></div>
                          <div class="business_items text-center">
                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/retail-slider-1.jpg" alt="" />
                                  </div>
                              </div>

                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/retail-slider-2.jpg" alt="" />
                                  </div>
                              </div>

                              <div class="business_item">
                                  <div class="business_img">
                                      <img src="assets/images/retail-slider-3.jpg" alt="" />
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="business_item sm-m-top-50">
                          <h2>
                              <strong>TRAFFIC-INT</strong> brings value to your retail operations</h2>
                          <ul>
                              <li><i class="fa fa-arrow-circle-right"></i> Prevent Credit-Card Scams</li>
                              <li><i class="fa  fa-arrow-circle-right"></i> Analyzes security threats in crowds</li>
                              <li><i class="fa  fa-arrow-circle-right"></i> Provides clean interfaces and data for you to analyze</li>
                          </ul>
                          <p class="m-top-20">We help you focus on what is important to yo, your work</p>

                          <div class="business_btn">
                              <a href="#contact" class="btn btn-default m-top-20">Learn more</a>
                              <a href="about" class="btn btn-primary m-top-20">About us</a>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- End off Business section -->

    <!--Extra section-->
    <section id="action" class="action bg-primary roomy-40">
            <div class="container">
                <div class="row">
                    <div class="maine_action">
                        <div class="col-md-8">
                            <div class="action_item text-center">
                                <h3 class="text-white">Keep your customers safe and happy, give them security so they can shop in peace by locating thiefs and dangerous criminals before they can act and affect your store.</h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="action_btn text-left sm-text-center">
                               <img src="/assets/images/retail-extra.jpg">
                                <!-- <a href="" class="btn btn-default">Get in Touch</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </section>


           <!--Test section-->
           <section id="test" class="test bg-grey roomy-60 fix">
               <div class="container">
                   <div class="row">                        
                       <div class="main_test fix">

                           <div class="col-md-12 col-sm-12 col-xs-12">
                               <div class="head_title text-center fix">
                                   <h2 class="text-uppercase">What Client Say</h2>
                                   <h5>Our clients testimony speaks for itself</h5>
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="test_item fix">
                                   <div class="item_img">
                                       <img class="img-circle" src="assets/images/test-retail-1.jpg" alt="" />
                                       <i class="fa fa-quote-left"></i>
                                   </div>

                                   <div class="item_text">
                                       <h5>Jerome Smith</h5>
                                       <h6>Biloxby Inc.</h6>

                                       <p>Traffic-Int has helped us cut down on theft by 62% and focus on what we care about our customers and our sales. Thanks Traffic-Int!</p>
                                   </div>
                               </div>
                           </div>

                           <div class="col-md-6">
                               <div class="test_item fix sm-m-top-30">
                                   <div class="item_img">
                                       <img class="img-circle" src="assets/images/test-retail-2.jpg" alt="" />
                                       <i class="fa fa-quote-left"></i>
                                   </div>

                                   <div class="item_text">
                                       <h5>Melinda Burns</h5>
                                       <h6>Shoe's for Days</h6>

                                       <p>Traffic-Int's technology has helped us stop theft from the root, our security team has been alerted when a recognized threat enters the store and can react immediately. We are very pleased with the results.</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section><!-- End off test section -->



                                        


<% include ../views/partials/footer.ejs %>