<% include ../views/partials/header.ejs %>

   <!--Home Sections-->

   <section class="soon p-3 m-3">
         <div class="container pt-3 mt-3">
            

         </div><!--End off container -->
     </section> <!--End off Home Sections-->






 



                                        


<% include ../views/partials/footer.ejs %>