<% include ../views/partials/header.ejs %>

<section  class="action roomy-40">

   </section>
   
   
   <section>
   <div class='container roomy-70'>
      <h1>TI-402</h1>
      <h3>8CH 1080P HDD & SD AHD Mobile DVR Series</h3>
      <div class='row'>
         <div class='col-md-6'>
            <img src='/assets/images/products-TI402.jpg'>    
            <img src='/assets/images/products-TI402b.jpg'> 
            <img src='/assets/images/products-TI402c.jpg'>   
         </div>
         <div class='col-md-6'>
               <h3 class='text-center'>Features</h3>
              <ul class="list-group">
                 <li class="list-group-item">* Supports 8CH 1080P</li>
                 <li class="list-group-item">* Standard H.264 video compression, support dual stream network transmission</li>
                 <li class="list-group-item">* Support pentaplex operation: preview, record, playback, backup, network transmission</li>
                 <li class="list-group-item">* Support max 2TB 2.5 inch HDD </li>
                 <li class="list-group-item">* Support alarm pre-recording & motion detection</li>
                 <li class="list-group-item">* Supports real-time remote viewing through 3G/4G/WIFI(optional)</li>
                 <li class="list-group-item">* GPS information embedded in screen (optional), support electronics fence and historical track playback</li>
                 <li class="list-group-item">* Support time-lapse recording after the car is powered off</li>
                 <li class="list-group-item">* Support recording and displaying the license plate number</li>
                 <li class="list-group-item">* Support HDD overwritten by days</li>
                 <li class="list-group-item">* Digital zoom capabilities when previewing video</li>
                 <li class="list-group-item">* Password protection function</li>
                 <li class="list-group-item">* Support PTZ control via RS-485 port</li>
                 <li class="list-group-item">* Support transmitting audio via network</li>
                 <li class="list-group-item">* Support backup and upgrade with USB flash disk & USB hard disk</li>
                 <li class="list-group-item">* Stable aluminum alloy structure with shock absorber</li>
              </ul> 
         </div>
      </div>
   
   </div>
   </section>

   <% include ../views/partials/footer.ejs %>
