<% include ../views/partials/header.ejs %>

<section  class="action roomy-40">

   </section>
   
   
   <section>
   <div class='container roomy-70'>
      <h1>TI-401M (mini)</h1>
      <div class='row'>
         <img src='/assets/images/products-TI401M.jpg'>      
      </div>
      <div class='row'>
            <table class="table">
                  <tbody>
                    <tr>
                      <td>Operating System</td>
                      <td>Linux </td>
                    </tr>
                    <tr>
                      <td>Compression</td>
                      <td>H-264</td>
                    </tr>
                    <tr>
                      <td>Signal System</td>
                      <td>PAL:25 fps, NTSC:30 fps </td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td>Hebrew / English optional, OSD Menu</td>
                     </tr>
                     <tr>
                        <td>Display Frame Rate </td>
                        <td>PAL:4*720p(1280*720P) </td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>NTSC:4*720p(1280*720P)</td>
                     </tr>
                     <tr>
                        <td>Video Input/ Output</td>
                        <td>4-CH Input / 1CH Output</td>
                     </tr>
                     <tr>
                        <td>Audio Input/Output </td>
                        <td>4-CH Input / 1CH Output</td>
                     </tr>
                     <tr>
                        <td>Alarm Input/Output</td>
                        <td>4 Alarm Input / 1 Output</td>
                     </tr>
                     <tr>
                        <td>Recording</td>
                        <td>Manual Schedule Motion Detection </td>
                     </tr>
                     <tr>
                           <td></td>
                           <td>GPS Vehicle tracking, Speed detection, Synch time</td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>Event Sensor trigger, Speeding, Accelerometer, Temperature, Video Loss </td>
                     </tr>
                     <tr>
                        <td>Playing Mode</td>
                        <td>Support 1 channel or synchronous 4 channels By PC </td>
                     </tr>
                     <tr>
                        <td>Searching Mode</td>
                        <td>By Time/ By Date/ By Event</td>
                     </tr>
                     <tr>
                        <td>Storage</td>
                        <td>Support single/Dual SD card selectable, 128GB for each. 256GB for Total</td>
                     </tr>
                     <tr>
                        <td>Options</td>
                        <td>G-SENSOR (OPTIONAL)</td>
                     </tr>
                     <tr>
                           <td></td>
                           <td>GPS (OPTIONAL)</td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>3G (HSPA/WCDMA/EVDO ) - 4G（TDD-LTE,FDD-LTE,TDSCDMA,WCDMA,CDMA2000,EDGE,GPRS,GSM </td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>WIFI 802.11n/b/g  (OPTIONAL)</td>
                     </tr>
                     <tr>
                        <td>Remote Control</td>
                        <td>IR Remote Control </td>
                     </tr>
                     <tr>
                        <td>Software Upgrade</td>
                        <td>SD Card </td>
                     </tr>
                     <tr>
                        <td>Power Input/Output</td>
                        <td>8—36V Input,12V Output </td>
                     </tr>
                     <tr>
                        <td>Camera's remote power supply</td>
                        <td>Supply Remote Power for 4 channel cameras DC12V@2A</td>
                     </tr>
                     <tr>
                        <td>Extended Port</td>
                        <td>1 Port for RS232 &RS 485 & Voice talkback port</td>
                     </tr>
                     <tr>
                        <td>Working Temperature</td>
                        <td>-20 ~+60 </td>
                     </tr>
                     <tr>
                        <td>Relatively Humidity</td>
                        <td>20% - 95% </td>
                     </tr>
                     <tr>
                        <td>Vibration Resistance</td>
                        <td> < 2 Grms </td>
                     </tr>
                     <tr>
                        <td>Shock Resistance</td>
                        <td> < 1200 Grms </td>
                     </tr>
                     <tr>
                        <td>Products Size</td>
                        <td>137(L)*132(W)*40(H)mm</td>
                     </tr>
                     <tr>
                        <td>Porduct Weight / Package Weight</td>
                        <td>0.9 KG / 1.5 KG </td>
                     </tr>
                     <tr>
                        <td>Vehicle key signal</td>
                        <td>≤4V (OFF),≥5V(ON) </td>
                     </tr>
                     <tr>
                        <td>Power Supply</td>
                        <td>DC8V~36V </td>
                     </tr>
                  </tbody>
                </table>
      </div>
   
   </div>
   </section>

   <% include ../views/partials/footer.ejs %>
